{% extends 'base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block description %}{{description}}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    {% if use_head %}
        <div class="title-container">
            <h1 class="main-title">{{title}}</h1>
            {% for i in subtitle %}
                <h2 class="sub-title">{{i}}</h2>
            {% endfor %}
        </div>
    {% else %}
        <div style="height:15vh"></div>
    {% endif %}
    <div class="bg-rblue">
        {% for i in filelist %}
            {% if i[0] == "md" %}
                <div class="markdown">{{ i[1] | safe }}</div>
            {% endif %}
            {% if i[0] == "html" %}
                <div>{{ i[1] | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
