
{% extends 'base.html' %}

{% block title %}Nous Contacter{% endblock %}

{% block description %}Page d'informations de contact.{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div style="height: 100vh;align-items: center;display: flex;">
        <div class="bg-rblue">
            <div class="md-text">
                <p> </p>
                <p>Pour nous contacter, envoyez un mail à <a href="mailto:contact@sens-agse.eu.org">contact@sens-agse.eu.org</a></p>
                <p> </p>
            </div>
        </div>
    </div>
{% endblock %}

