{% extends 'base.html' %}

{% block title %}Login Admin{% endblock %}

{% block description %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div style="height:15vh"></div>
    <div class="bg-rblue">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <form method="post">
            <label for="password">Mot de passe Administrateur : </label>
            <input type="password" name="password" id="password" autocomplete="current-password" required>
            <input type="submit" value="Se connecter">
        </form>
    </div>
{% endblock %}
